.navbardiv{
  background-color: #FFF
}
.collapse{
  background-color: #FFF

}
.list-group-item{
  background-color: #FFB000;

}
.list-group {
width : calc(100% / 5) ;

}
.navbar{
  /* background-color: blueviolet; */
}